/* grey background pattern from subtlepatterns.com */
/***** General Styling  *******/
body {
  background: url("/img/blue-background.jpg");
  background-position: cover;
  background-repeat: no-repeat; }

/**** Navigation Bar*****/
.navbar-default .navbar-nav li a:hover {
  background: rgba(180, 180, 180, 0.5); }

.navbar-default {
  background: url(/img/grey.png); }

/*****Welcome Banner Styling*****/
.jumbotron {
  background-image: url("/img/blue-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 300px; }
  .jumbotron h1 {
    text-shadow: 1px 1px 2px white; }
  .jumbotron .lead {
    font-size: 1.6em; }

/******* Forms *******/
.form-container {
  border: 1px solid rgba(230, 230, 230, 0.4);
  /*background-image: url(/img/grey.png);*/
  background: rgba(250, 250, 250, 0.4);
  margin: 50px auto 100px;
  vertical-align: middle;
  width: 80%;
  max-width: 500px;
  position: relative;
  text-align: center;
  padding-bottom: 100px; }
  .form-container form {
    margin: 0 auto;
    width: 80%;
    position: relative; }
    .form-container form input[type="text"],
    .form-container form input[type="password"] {
      margin: 0 auto;
      width: 100%;
      margin-bottom: 10px; }
    .form-container form input[type="submit"] {
      margin: 5px 0 10px; }

/***** Footer *****/
footer {
  position: absolute;
  width: 100%;
  background: #285050;
  background-image: url(/img/grey.png);
  bottom: 0;
  left: 0;
  padding: 20px 0 10px; }
  footer p {
    text-align: center; }
