/***** General Styling  *******/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #67A798;
  background-image: -moz-linear-gradient(to top right, rgba(0, 100, 130, 0.8) 0%, #67A798 70%);
  background-image: -webkit-linear-gradient(to top right, rgba(0, 100, 130, 0.8) 0%, #67A798 70%);
  background-image: -ms-linear-gradient(to top right, rgba(0, 100, 130, 0.8) 0%, #67A798 70%);
  background-image: -o-linear-gradient(to top right, rgba(0, 100, 130, 0.8) 0%, #67A798 70%);
  background-image: linear-gradient(to top right, rgba(0, 100, 130, 0.8) 0%, #67A798 70%);
  background-attachment: fixed; }

.app {
  padding-bottom: 60px;
  position: relative;
  min-height: 100vh;
  overflow: auto; }

.main-content ul {
  list-style: none;
  padding: 0; }

/**** Navigation Bar*****/
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li.active a {
  background: #67A798; }

.navbar-inverse {
  background: #282828; }

/******* Forms *******/
.form-container {
  border: 1px solid rgba(230, 230, 230, 0.4);
  background-image: url(/img/grey.png);
  background: rgba(250, 250, 250, 0.4);
  margin: 50px auto 100px;
  vertical-align: middle;
  width: 80%;
  max-width: 500px;
  position: relative;
  text-align: center;
  padding-bottom: 100px; }
  .form-container form {
    margin: 0 auto;
    width: 80%;
    position: relative; }
    .form-container form input[type="text"],
    .form-container form input[type="password"] {
      margin: 0 auto;
      width: 100%;
      margin-bottom: 10px; }
    .form-container form input[type="submit"] {
      margin: 5px 0 10px; }

/***** Home Page  Styling*****/
.jumbotron {
  background-image: url("/img/blue-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 0;
  padding: 100px 0; }
  .jumbotron h1 {
    text-shadow: 1px 1px 2px white; }
  .jumbotron .lead {
    font-size: 1.6em; }

.site-info-bar {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #282828;
  text-align: center; }
  .site-info-bar h3 {
    color: #c8c8c8; }
  .site-info-bar .info-icon {
    font-size: 80px;
    color: #509696; }
  .site-info-bar p {
    color: #c8c8c8;
    text-align: left;
    margin: 10px auto 10px;
    max-width: 70%; }

/***** Polls *****/
.well.poll {
  margin-top: 15px;
  width: 70%;
  margin: 15px auto;
  text-align: center; }

.poll-content ul {
  width: 80%;
  margin: 10px auto; }

.poll-content h3 {
  text-align: left;
  width: 80%;
  margin: 10px auto; }

.poll-content button {
  margin-top: 10px; }

input[type="radio"] {
  cursor: pointer; }

.poll-choice {
  background: #fafafa;
  cursor: pointer; }

.choice-text[type="text"]:disabled {
  background: #fafafa;
  cursor: pointer; }

.choice-text[type="text"]:disabled:focus {
  background: gainsboro; }

/***** Footer *****/
footer {
  position: absolute;
  width: 100%;
  background: #285050;
  background-image: url(/img/grey.png);
  left: 0;
  bottom: 0;
  height: 60px;
  padding: 20px 0 0;
  margin: 0; }
  footer p {
    text-align: center; }
