/**** Imports ****/
@import url("./bootstrap.min.css");
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
/**** Variables ****/
$dark-blue: rgba(18, 62, 92, .8);
$darkest-blue: rgba(18, 62, 92, 1.0);
$danger-red: rgba(156, 21, 21, 1.0);
/***** General Styling  *******/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #67A798;
  background-image: -moz-linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-image: -webkit-linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-image: -ms-linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-image: -o-linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-image: linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-attachment: fixed;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.app {
  padding-bottom: 60px;
  position: relative;
  min-height: 100vh;
  overflow: auto;
}

.main-content ul {
  list-style: none;
  padding: 0;
}
/**** Navigation Bar*****/
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li.active a {
  background: #67A798;
}

.navbar-inverse {
  background: rgba(40, 40, 40, 1);
}
/**** Buttons ****/
.btn {
  &.btn-primary {
    background: $dark-blue;
    font-size: 1.8rem;
    padding: 5px 10px;

    &:hover {
      background: $darkest-blue;
    }
  }

  &.btn-cancel {
    margin: 10px 0 10px 10px;
  }

  &.back-link {
    display: inline-block;
    left: 10px;
    margin-top: 3px;
  }
}

/******* Forms *******/
.form-container {
  border: 3px solid rgba(230, 230, 230, .4);
  margin: 50px auto 100px;
  box-shadow: 2px 3px 15px rgba(0, 40, 40, 0.2), -2px 3px 15px rgba(0, 40, 40, 0.2);
  vertical-align: middle;
  width: 80%;
  max-width: 700px;
  position: relative;
  text-align: center;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  @media only screen and (max-width: 650px) {
    width: 100%;
  }

  h3 {
    color: rgba(230, 230, 230, 1);
  }

  p {
    font-size: 1.5rem;
    width: 80%;
    text-align: left;
    margin-bottom: 0;
    display: inline-block;
  }

  form {
    margin: 0 auto;
    width: 80%;
    position: relative;
    color: rgba(230,230,230,1);
    text-align: left;

    @media only screen and (max-width: 450px) {
      width: 95%;
    }

    label {
      font-size: 1.6rem;
    }

    .form-group {
      position: relative;
    }

    .has-error {
      border-color: $danger-red;
    }

    .text-danger {
      color: $danger-red;
      position: absolute;
      bottom: -25px;
      right: 0;
    }

    a {
      color: $darkest-blue;
      font-size: 1.6rem;

      &:hover,
      &:visited {
        color: $darkest-blue;
      }
    }

    input {
      &[type="text"],
      &[type="password"],
      {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.8rem;
        background: rgba(200, 200, 200, 0.3);
        color: $darkest-blue;
      }

      &[type="submit"] {
        margin: 10px 0;
      }
    }

    textarea {
      margin: 0 auto;
      width: 100%;
      height: 100px;
      margin-bottom: 10px;
      font-size: 1.8rem;
      background: rgba(200, 200, 200, 0.3);
      color: $darkest-blue;
      max-width: 100%;
    }

    .btn-add-choice {
      position: absolute;
      left: -40px;
      bottom: 0;
      padding: 2px 10px 2px;

      @media only screen and (max-width: 450px) {
        position: relative;
        left: 0;
        bottom: 0;
        font-size: 2.3rem;
        padding: 3px 20px;
      }
    }

    .plus-sign {
      font-size: 2rem;
      font-style: normal;
    }
  }
}

div.help-text.text-danger {
  position: absolute;
  top: 5px;
}
/**** End Forms ****/

/****** Flash Messages *****/
.alert {
  margin-bottom: 0;
}

/**** Shared Page Styling ****/

.recent-polls-header {
  text-shadow: 1px 1px 2px white;
  font-size: 3em;
  text-align: center;
  padding-bottom: 10px;
  margin: 20px auto;
  border-bottom: 1px solid rgba(242, 242, 242, 1.0);

  @media screen and (max-width: 800px) {
    font-size: 2.8em;
    width: 100%;
  }
}

/**** End Shared Page Styling ****/


/***** Home Page  Styling*****/
.home-page {
  .recent-polls-header {
    width: 90%;
    max-width: 800px;
    margin: 80px auto 20px;
  }
}

.jumbotron {
  background: #67A798;
  background-image: -moz-linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-image: -webkit-linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-image: -ms-linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-image: -o-linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-image: linear-gradient(to top right, rgba(0, 100, 130, .8) 0%, #67A798 70%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 0;
  padding: 100px 0;

  h1 {
    text-shadow: 1px 1px 2px white;

    @media screen and (max-width: 400px) {
      font-size: 3em;
    }
  }

  .lead {
    font-size: 1.6em;
  }
}

.site-info-bar {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(40, 40, 40, 1);
  text-align: center;

  h3 {
    color: rgba(200, 200, 200, 1);
  }

  .info-icon {
    font-size: 80px;
    color: rgba(80, 150, 150, 1);
  }

  p {
    color: rgba(200, 200, 200, 1);
    text-align: left;
    margin: 10px auto;
    max-width: 70%;
  }
}

/**** End Home Page Styling ****/

/**** Profile Page ****/
.profile-container {
  margin-top: 50px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 10px;
  .well {
    word-wrap: break-word;
    text-align: left;
    width: 100%;
    margin: 17px auto 0;
    h3 {
      color: $darkest-blue;
      width: 100%;
      margin: 10px auto;
      border-bottom: 1px solid $dark-blue;
      padding-bottom: 10px;
    }

    h4 {
      text-align: left;
      color: $darkest-blue;
    }

    &.poll {
      width: 100%;
    }

    .recent-polls-header {
      width: 100%;
    }

    .user-info {
      width: 100%;
      margin: 10px auto;
      text-align: center;
      p {
        text-align: left;
      }
    }
  }
}
/***** Polls *****/
.well.poll {
  width: 90%;
  margin: 30px auto 40px;
  max-width: 800px;
  text-align: center;
}

.poll-content {
  ul {
    width: 100%;
    margin: 10px auto;
  }

  h3 {
    text-align: left;
    width: 100%;
    margin: 10px auto;
    @media only screen and (max-width: 500px) {
      font-size: 1.8rem;
    }
  }

  button {
    margin-top: 10px;
  }
}

input[type="radio"] {
  cursor: pointer;
}

.poll-choice {
  background: rgba(250, 250, 250, 1);
  cursor: pointer;
}

.choice-text[type="text"]:disabled {
  background: rgba(250, 250, 250, 1);
  cursor: pointer;

  &:focus {
    background: rgba(220, 220, 220, 1);
  }

  &:hover {
    background: rgba(240, 240, 240, 1);
  }
}
/***** Footer *****/
footer {
  position: absolute;
  width: 100%;
  background: rgba(40, 80, 80, 1);
  background-image: url('/img/grey.png');
  left: 0;
  bottom: 0;
  height: 60px;
  padding: 20px 0 0;
  margin: 0;

  p {
    text-align: center;
  }
}


/**** Loader Icon ****/
// Made by luke haas
// http://projects.lukehaas.me/css-loaders/

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 3em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 175px auto 0;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 3em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 4em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 3em;
  }
  40% {
    box-shadow: 0 -1em #ffffff;
    height: 4em;
  }
}
